BasedOnStyle: LLVM

ColumnLimit:     100
IndentWidth:     4
TabWidth:        4

BreakBeforeBraces: Linux

AllowShortBlocksOnASingleLine: Always
AllowShortIfStatementsOnASingleLine: WithoutElse

AlwaysBreakTemplateDeclarations: Yes

AlignConsecutiveAssignments: Consecutive
AlignConsecutiveDeclarations: Consecutive
