BasedOnStyle: LLVM

ColumnLimit:     120
IndentWidth:     4
TabWidth:        4

BreakBeforeBraces: Linux

AllowShortBlocksOnASingleLine: Always
AllowShortIfStatementsOnASingleLine: WithoutElse

AlwaysBreakTemplateDeclarations: Yes

AlignConsecutiveAssignments:
  Enabled: true
  AlignFunctionDeclarations: true
AlignConsecutiveDeclarations: true
AlignConsecutiveMacros:
  Enabled: true
  PadOperators: true

PointerAlignment: Left
QualifierAlignment: Right
